body {
    font: 10px sans-serif;
}

.arc path {
    stroke: #fff;
}

g.legend.off {
    display: none;
}

g.legend.on {
    display: block;
}

.draw-button {
    margin: 2%;
}

.container {
    width: 100%;
}

circle.item {
    stroke: #000;
    stroke-width: 2px;
}

circle.item.active {
    opacity: 0.5;
}

input.input {
    margin: 0 0 0 0;
    font-size: x-small;
    height: 1rem;
}

tr.input {
    height: 1em;
}

i.material-icons {
    font-size: 1.5em;
}