<section>

    <style>
        #canvas {
            width: 600px;
            height: 400px;
        }

        .axis path, .axis line {
            fill: none;
            stroke: grey;
            shape-rendering: crispEdges;
            stroke-width: 2px
        }

        .axis.wcm-label {
            font-weight: bold;
            font-size: 12px;
        }

        .quadrant_border {
            stroke: grey;
            fill: none;
            shape-rendering: crispEdges;
            stroke-width: 2px
        }

        .circle-hover {
            stroke-width: 4;
            stroke: grey;
            cursor: pointer;
        }

        .circle-selected {
            fill: darkblue;
        }

        .wcm-label {
            font-size: 0.7em;
            font-weight: bold
        }

        .wcm-label-hover {
            fill: blue;
            cursor: pointer;
        }

        .wcm-label-selected {
            fill: darkblue;
        }

        .thumbnails {
            margin-top: 10px;
        }

        .well {
            padding: 0px;
        }

        .sidebar-inner {
            padding: 20px;
        }

        img {
            vertical-align: baseline;
        }

        .divider {
            stroke: grey;
            fill: none;
            shape-rendering: crispEdges;
            stroke-width: 2px
        }

        .quad-label {
            font-size: 20px;
            font-weight: bold;
            fill: black;
            opacity: 0.3;
        }

        .not-ranked {
            fill: red;
        }

        .Framework {
            fill: cyan;
        }

        .Refactoring {
            fill: green;
        }

        .Build-Deploy {
            fill: orange;
        }

        .Betrieb {
            fill: red;
        }

        .Security {
            fill: yellow;
        }

        .Datenmodell {
            fill: magenta;
        }

        .circle {
            opacity: 0.8;
        }

        .title {
            font-size: x-large;
            font-weight: bolder;
        }

        .legendText {
            font-size: 0.7em;
        }

        .switchText {
            font-size: 0.5em;
        }

        circle.legend {
            fill: black;
            opacity: 0.4;
        }

        circle.hideOn {
            fill: lightgrey;
        }

        .category {
            opacity: 0.5;
        }

        g.legend.off {
            display: none;
        }

        g.legend.on {
            display: block;
        }

        label {
            font-size: 0.5em;
        }

        text.skill.off {
            display: none;
        }

    </style>

    <div class="row">
        <div class="col s12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col s2">
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Search" id="skillNameFilter" type="text" ng-model="input.skillNameFilter" ng-change="skillNameFilterChanged()">
                </div>
                <div class="row">
                    <div class="col s12 switch">
                        <label>
                            Text<br>Off
                            <input type="checkbox" ng-model="input.showText" ng-change="switchText()">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <span class="switch">
                            <input name="ya" type="radio" id="ya-ma" value="Mittlere Bewertung" ng-model="input.ya" ng-click="switchYAttribute()"/>
                            <label for="ya-ma">Mittlere Bewertung</label>
                        </span>
                    </div>
                    <div class="col s12">
                        <span class="switch">
                            <input name="ya" type="radio" id="ya-expertCount" value="Anzahl Experten" ng-model="input.ya" ng-click="switchYAttribute()"/>
                            <label for="ya-expertCount">Anzahl Experten</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <span class="switch">
                            <input name="mode" type="radio" id="mode-bubbles" value="bubbles" ng-model="input.mode" ng-click="switchMode()"/>
                            <label for="mode-bubbles">Bubbles</label>
                        </span>
                    </div>
                    <div class="col s12">
                        <span class="switch">
                            <input name="mode" type="radio" id="mode-voronoi" value="voronoi" ng-model="input.mode" ng-click="switchMode()"/>
                            <label for="mode-voronoi">Voronoi</label>
                        </span>
                    </div>
                    <div class="col s12">
                        <span class="switch">
                            <input name="mode" type="radio" id="mode-treemap" value="voronoi" ng-model="input.mode" ng-click="switchMode()"/>
                            <label for="mode-voronoi">Voronoi</label>
                        </span>
                    </div>
                </div>
                <div class="col s12">
                    <input name="location" type="radio" id="loc-all" ng-click="showLocation('*')" checked="checked"/>
                    <label for="loc-all">Alle</label>
                </div>
                <div class="col s12" ng-repeat="location in allLocations">
                    <span class="switch">
                        <input name="location" type="radio" id="loc-{{makeSafeForCSS(location)}}" ng-click="showLocation(location)"/>
                        <label for="loc-{{makeSafeForCSS(location)}}">{{location}}</label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input name="category" type="radio" id="cat-all" ng-click="showCategory('*')" checked="checked"/>
                    <label for="cat-all">Alle</label>
                </div>
                <div class="col s12" ng-repeat="category in allCategories">
                    <span class="switch">
                        <input name="category" type="radio" id="cat-{{makeSafeForCSS(category)}}" ng-click="showCategory(category)"/>
                        <label for="cat-{{makeSafeForCSS(category)}}">{{shorten(category)}}</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="col s10">
            <div id="canvas">
            </div>
        </div>
        <!--
                <div class="col s4">
                    &nbsp;
                    <table class="striped">
                        <tbody>
                            <tr ng-repeat="a in attributes">
                                <td><b>{{a.text}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        -->
    </div>


</section>