<section>

    <style>
        #canvas {
            width: 600px;
            height: 400px;
        }

        .axis path, .axis line {
            fill: none;
            stroke: grey;
            shape-rendering: crispEdges;
            stroke-width: 2px
        }

        .axis.wcm-label {
            font-weight: bold;
            font-size: 12px;
        }

        .quadrant_border {
            stroke: grey;
            fill: none;
            shape-rendering: crispEdges;
            stroke-width: 2px
        }

        .circle-hover {
            stroke-width: 4;
            stroke: grey;
            cursor: pointer;
        }

        .circle-selected {
            fill: darkblue;
        }

        .wcm-label {
            font-size: 6px;
            font-weight: bold
        }

        .wcm-label-hover {
            fill: blue;
            cursor: pointer;
        }

        .wcm-label-selected {
            fill: darkblue;
        }

        .thumbnails {
            margin-top: 10px;
        }

        .well {
            padding: 0px;
        }

        .sidebar-inner {
            padding: 20px;
        }

        img {
            vertical-align: baseline;
        }

        .divider {
            stroke: grey;
            fill: none;
            shape-rendering: crispEdges;
            stroke-width: 2px
        }

        .quad-label {
            font-size: 20px;
            font-weight: bold;
            fill: black;
            opacity: 0.3;
        }

        .not-ranked {
            fill: red;
        }

        .Framework {
            fill: cyan;
        }

        .Refactoring {
            fill: green;
        }

        .Build-Deploy {
            fill: orange;
        }

        .Betrieb {
            fill: red;
        }

        .Security {
            fill: yellow;
        }

        .Datenmodell {
            fill: magenta;
        }

        .circle {
            opacity: 0.8;
        }

        .title {
            font-size: x-large;
            font-weight: bolder;
        }

        .legendText {
            font-size: 0.7em;
        }

        .switchText {
            font-size: 0.5em;
        }

        circle.legend {
            fill: black;
            opacity: 0.4;
        }

        circle.hideOn {
            fill: lightgrey;
        }

        .category {
            opacity: 0.5;
        }

    </style>

    <div class="row">
        <div class="col s12">
            <span class="title">Skills</span>
        </div>
    </div>
    <div class="row">
        <div class="col s2">
            <div class="row" ng-repeat="category in allCategories">
                <div class="col s6">
                    <span class="switch">
                        <label  class="{{category}}" style="color: {{getColorForCategory(category)}}" >
                            <input class="{{category}}" type="checkbox" ng-model="categorySwitchModel[category]" ng-click="switchCategory(category)">
                            <span class="lever"></span>
                        </label>
                    </span>
                </div>
                <div class="col s6">
                    &nbsp;
                    <span class="switch">
                        <label  class="{{category}} switchText" style="color: {{getColorForCategory(category)}}" >
                            {{category}}
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="col s10">
            <div id="canvas">
            </div>
        </div>
        <!--
                <div class="col s4">
                    &nbsp;
                    <table class="striped">
                        <tbody>
                            <tr ng-repeat="a in attributes">
                                <td><b>{{a.text}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        -->
    </div>


</section>